tensorflow                        2.14.0
tensorflow-estimator              2.14.0
tensorflow-intel                  2.14.0
tensorflow-io-gcs-filesystem      0.31.0
streamlit                         1.27.2
streamlit-d3graph                 1.0.3
streamlit-lottie                  0.0.5
streamlit-option-menu             0.3.6
streamlit-scrollable-textbox      0.0.3
sympy                             1.12
sklearning                        0.0.1
scikit-image                      0.21.0
scikit-learn                      1.2.2
scikit-plot                       0.3.7
scipy                             1.10.1
scooby                            0.7.3
seaborn                           0.12.2
particle                          0.23.0
plotly                            5.14.1
pandas                            1.5.2
numpy                             1.24.1
matplotlib                        3.6.3
matplotlib-inline                 0.1.6
keras                             2.14.0
astropy                           5.3.4
json5                             0.9.14
Pillow                            9.3.0